p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.yellow {
  color: #FBBC09;
}

.bg-yellow {
  background-color: #FBBC09;
}

.purp {
  color: #374e97;
}

.bg-purp {
  background-color: #374e97;
}

.teal {
  color: #25BEA1;
}

.bg-teal {
  background-color: #25BEA1;
}

.navbar-nav .nav-link{
  font-size:18px;
  font-weight: 700;
  color: #333333;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.light-grey {
  color: #F7F8FA;
}

.bg-light-grey {
  background-color: #F7F8FA;
}

.grey {
  color: #333333;
}

.bg-grey {
  background-color: #333333;
}

.heroh1{
  font-weight: 700 !important;
  font-size: 50px;
}

.bold{
  font-weight: 700;
  font-size: 20px;
}

.feature-bar{
  margin-top: -8%;
}
.temp-weight-fix{
  max-height: 250px;
  padding-bottom: 7%;
  padding-top: 2%
}

/*Add Mobile Breakpoint*/
.video-text{
  position: relative;
}

p.card-text{
  font-size: 20px;
}

.card-img {
  max-height: 15rem;
  max-width: 100%;
  width: initial;
}

.card-body{
  min-height: 20em;
}

.form-control{
  font-size: 22px;
}

.wave{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMjJweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0zMjAgMjhjMzIwIDAgMzIwIDg0IDY0MCA4NCAxNjAgMCAyNDAtMjEgMzIwLTQydjcwSDBWNzBjODAtMjEgMTYwLTQyIDMyMC00MnoiLz48L2c+PC9zdmc+);
   background-size: 100% 222px;
   bottom: 0;
   height: 13em;
   background-color: #25BEA1;
}

.btn-huge{
  padding:1em 2em;
}

.fw7{
  font-weight: 700;
}

.testimonial-container{
  padding-top:2.5%;
}

.shadow{
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

.shadow-grey{
  box-shadow: 0 5px 15px 0 rgb(62, 61, 66);
}

.shadow-red{
      box-shadow: 0 5px 15px 0 rgb(207, 81, 44);
}

.shadow-yellow{
  box-shadow: 0 5px 15px 0 rgb(241, 197, 49)
}

.form-input{
  background-color:#eae9e5;
  border: none;
  color: #374e97;
}

.form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #374e97;
}
.form-input::-moz-placeholder { /* Firefox 19+ */
  color: #374e97;
}
.form-input:-ms-input-placeholder { /* IE 10+ */
  color: #374e97;
}
.form-input:-moz-placeholder { /* Firefox 18- */
  color: #374e97;
}

button.btn.bg-purp.white.bold.shadow:hover {
    background-color: #283a72;
}
