<div class="container-fluid feature-bar">
  <div class="row text-center">
    <div class="col-sm">
      <img src="/img/dumbbell.png" class="temp-weight-fix"></img>
      <p class="bold">Private or Group Classes</p>
    </div>

    <div class="col-sm">
      <img src="/img/apple_red.png" class="temp-weight-fix"></img>
      <p class="bold">Easy to Follow Meal Plans</p>
    </div>

    <div class="col-sm">
      <img src="/img/star-icon.png" class="temp-weight-fix"></img>
      <p class="bold">Proven Results</p>
    </div>
  </div>
</div>
