<html lang="en">

{{ partial "header.html" . }}
{{ partial "nav.html" . }}


<body>
  <div class="container-fluid bg-teal hero-section px-0">
    <div class="container px-0">
      <div class="hero">
        <h1 class="text-center white heroh1 pb-1" style="margin-bottom:0;">More than personal training,<br>
Custom plans to crush your goals!</h1>
        <p class="text-center bold white video-text mb-0 px-1">
          <button type="button" class="btn btn-primary btn-large bold shadow" data-toggle="modal" data-target="#exampleModal">
      ► Watch
    </button>&nbsp; our feature on KRON4 news to learn more!
        </p>

      </div>

    </div>

    <div class="landing-spacer"></div>

    <div class="container">
      <div class="row text-center">
        <div class="col-sm">
          <button type="button" class="btn btn-warning btn-huge bold shadow">SIGN UP NOW</button>
        </div>
      </div>

      <div class="landing-spacer"></div>

      <div class="row text-center">
        <div class="col-sm text">
          <h1 class="white mb-0" style="display:inline-flex">Rated &nbsp;<div class="yellow">★★★★★</div>'s</h1>
          <p class="white">
            Click to View:<br />
            <b>Lafayette:</b> <a class="white" href="https://www.google.com/search?q=Living%20Lean%203125%20Camino%20Diablo%20Lafayette,%20CA%2094549&ludocid=9120269680595873156#lrd=0x80856225b8cf42e7:0x7e91b4f407aead84,1,,,">Google</a> | <a class="white"
              href="https://www.yelp.com/biz/living-lean-lafayette">Yelp</a>
            <br>
            <b>Orinda</b>: <a class="white" href="https://www.google.com/search?q=Living+Lean,+2+Orinda+Theatre+Square+%23140,+Orinda,+CA+94563&ludocid=14893274412380497864#lrd=0x80857d2933a838b3:0xceaf8a2b8c5aa7c8,1,,,">Google</a> | <a class="white"
              href="https://www.yelp.com/biz/living-lean-orinda-2">Yelp</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>

  <div class="container-flud wave">
  </div>


  <!-- {{ partial "features_bar.html" . }} -->

  <div class="container-fluid pb-2" style="">
    <div class="row text-center">
      <div class="col-sm">
        <h1 class="heroh1">What is the Living Lean Program?</h1>
      </div>
    </div>


    <div class="container-fluid features-section">

      <div class="row py-4">
        <div class="card shadow-grey">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 pr-0 text-center">
                <img src="/img/dumbbell.png" / class="card-img">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card-block">
                  <h3 class="card-title fw7">1. Private Personal Training</h3>
                  <p class="card-text">We start with a customized plan to meet your specific goals. Workouts are engaing and fun with our fullly equiped, modern gym. Each week we track your results with a 7-point body-fat test and more.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>




      <div class="row py-4">
        <div class="card shadow-red" style="width:100%">
          <div class="card-body">
            <div class="row">

              <div class="col-lg-4 col-md-4 col-sm-12 pr-0 text-center">
                  <img src="/img/apple_red.png" / class="card-img">
                </div>


            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card-block">
                  <h3 class="card-title fw7">2. Easy to Follow Meal Plans</h3>
                  <p class="card-text">Fitness doesn't stop at the gym, what you put into your body is just as important. Sheena is an expert nutritionist, and able to work around any deirtry restrictions. We keep your meal plans easy and delicious!</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>




      <div class="row py-4">
        <div class="card shadow-yellow">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 pr-0 text-center">
                <img src="/img/star-icon.png" / class="card-img">
              </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card-block">
                  <h3 class="card-title fw7">3. Encouragement & Motivation</h3>
                  <p class="card-text">We understand that a major lifestyle change is not easy. We're on your team, Sheena and her trainers provide encourement and motviation every step of the way! </p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <br><br>

  <!-- {{/* TESTIMONAILS */}} -->
  <!-- {{/* TESTIMONAILS */}} -->
  <div class="py-4 bg-light-grey">
    <div class="container-fluid" style="width:90%">
      <div class="py-2 row text-center">
        <div class="col-sm">
          <h1 class="heroh1 purp">Real Living Lean Success Stories</h1>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 py-3">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="https://i.imgur.com/cd2w7vy.jpg" / class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-block">
                    <h3 class="card-title bold">Arash Azarkish<div class='yellow'><p>
                  ★★★★★
                </p></div></h3>
                    <p class="card-text">Sheena desined a program that worked around my fatty-liver disease, and dropped my bodyfat from 35% to 23%.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 py-3">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="https://i.imgur.com/KUHLlbc.png" / class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-block">
                    <h5 class="card-title bold">Victoria Selway<div class='yellow'><p>
                      ★★★★★
                    </p></div></h5>
                    <p class="card-text">Being at my heaviest weight with my wedding around the corner was stressful. The Living Lean program helped me lose 30lbs of fat and 4 dress sizes, all in time for my big day! </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 py-3">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="http://livingleanprogram.com/wp-content/uploads/2016/12/Page-1-Image-2-2.png" / class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-block">
                    <h5 class="card-title bold">Katie Rawson<div class='yellow'><p>
                      ★★★★★
                    </p></div></h5>
                    <p class="card-text"> Working from home and a milestone birthday had caught up with me. The Living Lean trainers created an easy to stick to meal & workout plan, which helped me lose 20lbs, over 50% of my bodyfat!</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 py-3">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="http://livingleanprogram.com/wp-content/uploads/2016/12/Page-4-Image-9.png" / class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-block">
                    <h5 class="card-title bold">Neil Cohn<div class='yellow'><p>
                          ★★★★★
                        </p></div></h5>
                    <p class="card-text">I dropped my bodyfat in half from 25% to 12.5%! Sheena’s energy, passion, and knowledge helped me to accomplish something in 3-4 months that I’ve been trying to do my whole adult life.</p>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>





    </div>
  </div>

  <div class="container-fluid py-5 contact-section">
    <div class="row text-center py-3">
      <div class="col">
        <h1 class="heroh1 purp">
            Ready to get started?
            <br />
            We'd love to hear from you!</h1>
        <div class="container-fluid py-2 contact-container" style="">
          <form class="pt-4">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control form-input" id="" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control form-input" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control form-input" id="exampleFormControlTextarea1" rows="3" placeholder="What fitness goals can we help you acheive?"></textarea>
            </div>
            <button type="submit" class="btn bg-purp white bold shadow btn-huge">Email Sheena</button>
          </form>

          <h1 class="heroh1 purp py-4">Or</h1>

          <button class="btn bg-purp white bold shadow btn-huge">📞 (209) 627-5373</button>
          <p class="purp pt-2" style="font-size:14px">
            Click to call Sheena
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light-grey py-4">
    <div class="row text-center purp">
       <!-- <div class="col-sm" >
          <p class="fw7" style="font-size:26px"> Contact </p>
         <p style="font-size:20px;">
           Sheena_Lakhotia@yahoo.com </p>

          <p class="py-1" style="font-size:20px;">
           📞 (209) 627-5373
         </p>
       </div> -->
       <div class="col-sm">
         <p class="fw7 mb-0" style="font-size:26px;">
           Locations
           <p class="purp py-0 mb-0" style="font-size:14px">
             Click for directions!
           </p>
         </p>
         <p style="font-size:20px;">
           📍 2 Orinda Theatre Square #140
           <br /> Orinda, CA 94563
         <div class="py-1"></div>
         <p style="font-size:20px;">
           📍 3125 Camino Diablo
           <br /> Lafayette, CA 94549
         </p>
       </div>
       <div class="col-sm">
         <div class="fw7" style="font-size:26px;">
           <div class="yellow"style="display:inline">★★★★★</div> Ratings</div>
           <p class="purp py-0  mb-0" style="font-size:14px">
             Click to see reviews!
           </p>
           <div class="pb-2">

           </div>
           <div class="bold pb-4" style="display:inline;font-size:20px;">
             Orinda:
           </div>
          <p style="font-size:20px;display:inline;">
            Google - Yelp
          </p>
          <div class="py-2">

          </div>
           <div class="bold" style="display:inline;font-size:20px">
             Lafayette:
           </div>
           <p style="font-size:20px;display:inline">
             <a class="purp" href="https://www.google.com/search?q=Living%20Lean%203125%20Camino%20Diablo%20Lafayette,%20CA%2094549&ludocid=9120269680595873156#lrd=0x80856225b8cf42e7:0x7e91b4f407aead84,1,,,">Google</a>
             |
             <a class="purp"
               href="https://www.yelp.com/biz/living-lean-lafayette">Yelp</a>
           </p>
       </div>
     </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {{ partial "video-modal.html" . }}
</body>

</html>
